image: docker:latest
services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay
  SPRING_PROFILES_ACTIVE: gitlab-ci

stages:
  - build
  - package
  - deploy

maven-build:
  image: maven:3-jdk-8
  stage: build
  script: "mvn package -B"
  artifacts:
    paths:
      - target/*.jar

docker-build:
  stage: package
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build -t registry.gitlab.com/vish_guntaka/springbooteshopping .
    - docker push registry.gitlab.com/vish_guntaka/springbooteshopping

k8s-deploy:
  image: google/cloud-sdk
  stage: deploy
  script:
    - echo "$GOOGLE_KEY" > key.json
    - gcloud auth activate-service-account --key-file key.json
    - gcloud config set compute/zone us-central1-a
    - gcloud config set project Gitlab-Kubernetes
    - gcloud config set container/use_client_certificate True
    - gcloud container clusters get-credentials Gitlab-Kubernetes
    - kubectl delete secret registry.gitlab.com
    - kubectl create secret docker-registry registry.gitlab.com --docker-server=https://registry.gitlab.com --docker-username=vish_guntaka --docker-password=$REGISTRY_PASSWD --docker-email=g_vishu@yahoo.com
    - kubectl apply -f deployment.yml